<script src="~/js/rate/rater.min.js"></script>
@model SearchFoodAndRestaurant
@{
    ViewData["Title"] = "Seach Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .hidden {
        display: none;
    }


    .product-card__badges {
        position: absolute;
        top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .tag-badge--sale {
        color: #fff;
    }

    .tag-badge {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        z-index: 0;
        height: 18px;
        padding: 4px 14px 0;
    }

    [dir=ltr] .tag-badge:before {
        -webkit-transform: skewX(-20deg);
        transform: skewX(-20deg);
    }

    .tag-badge--sale:before {
        background: #ff3333;
    }

    .tag-badge:before {
        left: 3.5px;
        right: 3.5px;
    }

    .tag-badge:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: -1;
        border-radius: 2.5px;
        -webkit-transform-origin: center;
        transform-origin: center;
    }

    .tag-badge--sale {
        color: #fff;
    }

    .tag-badge {
        display: inline-block;
        position: relative;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 500;
        line-height: 1;
        z-index: 0;
        height: 18px;
        padding: 4px 14px 0;
    }
</style>

<section id="menu" class="hero d-flex align-items-center section-bg menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Restaurant</h2>
        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-vegetarian">
                <div class="row gy-5">
                    @if (Model.searchRestaurantList.Count() > 0)
                    {
                        var restaurantList = Model.searchRestaurantList.Where(x => x.IsTiffinServices == false).ToList();
                        @foreach (var item in restaurantList)
                        {
                            var Image = "/Images/Restaurant/" + @item.ImageName;
                            <div class="col-lg-4 menu-item" style="max-height:300px">
                                <a href="/restaurants-tiffin/@item.RestaurantID" class="">
                                    <img src="@Image" class="menu-img img-fluid" alt="@item.RestaurantName" style="height:70%">
                                </a>
                                <h4>@item.RestaurantName</h4>
                            </div>
                        }
                    }
                    else
                    {
                        <h3>No Restaurant Found</h3>
                    }
                </div>
            </div><!-- End Starter Menu Content -->
        </div>

    </div>
</section>
<section id="menu" class="menu">
    <div class="container" data-aos="fade-up">

        <div class="section-header">
            <h2>Our Tiffin Services</h2>
        </div>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

            <div class="tab-pane fade active show" id="menu-vegetarian">
                <div class="row gy-5">
                    @if (Model.searchRestaurantList.Count() > 0)
                    {
                        var tiffinList = Model.searchRestaurantList.Where(x => x.IsTiffinServices == true).ToList();
                        if (tiffinList.Count() > 0)
                        {
                            @foreach (var item in tiffinList)
                            {
                                var Image = "/Images/TiffinServices/" + @item.ImageName;
                                <div class="col-lg-4 menu-item" style="max-height:300px">
                                    <a href="/restaurants-tiffin/@item.RestaurantID" class="">
                                        <img src="@Image" class="menu-img img-fluid" alt="@item.RestaurantName" style="height:70%">
                                    </a>
                                    <h4>@item.RestaurantName</h4>
                                </div>
                            }
                        }
                        else
                        {
                            <h3>No Tiffin Services Found</h3>
                        }
                    }
                    else
                    {
                        <h3>No Tiffin Services Found</h3>
                    }
                </div>
            </div><!-- End Starter Menu Content -->
        </div>

    </div>
</section>


<section id="menu" class="hero d-flex align-items-center section-bg menu" style="padding-top:10px">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>Our Food</h2>
        </div>
        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">
            <div class="tab-pane fade active show" id="menu-vegetarian">
                <div class="row gy-5">
                    @if (Model.searchFoodList.Count() > 0)
                    {
                        var i = 0;
                        @foreach (var item in Model.searchFoodList)
                        {
                            var Image = "/Images/Food/" + @item.ImageName;

                            <div class="col-lg-4 menu-item" style="max-height:300px">
                                <a href="/food-detail/@item.FoodID" class="">
                                    @if (item.IsTrusted)
                                    {
                                        <div style="position:absolute;float:right">
                                            <div class="product-card__badges">
                                                <div class="tag-badge tag-badge--sale">Trusted</div>
                                            </div>
                                        </div>
                                    }
                                    <img src="@Image" class="menu-img img-fluid" alt="@item.FoodName" style="height:70%;width:300px;border:1px solid black;">
                                </a>
                                <h4>@item.FoodName</h4>
                                <p class="ingredients">
                                    @item.Ingredient
                                </p>
                                <div class="row">
                                    <div class="col-md-5 price" style="margin-bottom:5px;text-align-last:right">
                                        $@item.Price
                                    </div>
                                    <div class="col-md-6 rating_@i faPrimaryColor" style="color:#ffe339;font-size:25px">
                                        <input type="text" id="ProspectRating_@i" Name="ProspectRating_@i" Class="form-control field-input hidden" value="@item.Rate" />
                                    </div>
                                    <script>
                                        $(".rating_@i").rate();
                                        var options = {
                                            initial_value: @item.Rate,
                                            readonly: true,
                                            change_once: true,
                                        }
                                        //$("#ProspectRating_@i").val();
                                        $(".rating_@i").rate(options);
                                        $(".rating_@i").rate("setValue", $("#ProspectRating_@i").val());
                                        $(".rating_@i").rate("destroy");
                                    </script>
                                </div>
                            </div>
                            i = i + 1;
                            <!-- Menu Item -->
                        }

                    }
                    else
                    {
                        <h3>No Food Found</h3>
                    }
                </div>
            </div><!-- End Starter Menu Content -->
        </div>
    </div>
</section>