@{
    SessionUser sessionUser = Context.Session.GetComplexData<SessionUser>(Common.SessionKeys.UserSession);
}
<style>
    .alert-dismissible {
        padding-right: 10px !important;
    }
    .sr-only{
        display:none;
    }

    .alert .close{
        float:right;
    }
</style>
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Food Delivery</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="frontassets/img/favicon.png" rel="icon">
  <link href="frontassets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="@Common.SiteCDNBaseURL/frontassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="@Common.SiteCDNBaseURL/frontassets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="@Common.SiteCDNBaseURL/frontassets/vendor/aos/aos.css" rel="stylesheet">
    <link href="@Common.SiteCDNBaseURL/frontassets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="@Common.SiteCDNBaseURL/frontassets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="@Common.SiteCDNBaseURL/frontassets/css/main.css" rel="stylesheet">

   @* <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodDelivery</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FoodDelivery.styles.css" asp-append-version="true" />*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery.unobtrusive-ajax/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery.toaster/jquery.toaster.js"></script>
    <script src="~/master/master.js"></script>
    <script src="~/lib/select2/dist/js/select2.full.js"></script>
    <link href="~/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
     <link href="~/lib/data-tables/css/datatables.min.css" rel="stylesheet" />
    <link href="~/lib/rowgroup-1.3.0/css/rowgroup.bootstrap5.min.css" rel="stylesheet" />
    <script src="~/lib/data-tables/js/datatables.min.js"></script>
    <script src="~/lib/rowgroup-1.3.0/js/datatables.rowgroup.min.js"></script>
    <script>
        var siteURL = "@Common.SiteURL";
    </script>
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        @if (sessionUser != null)
                {
                    <input type="hidden" class="form-control" id="userid" value="@sessionUser.UserId">
                }
        <partial name="_Header" />
        
    </header>

   
   
    <main id="main">
        @RenderBody()
        <!-- ======= About Section ======= -->
        @*<partial name="_AboutUs" />*@
        <!-- End About Section -->
       
       
    </main>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <partial name="_Footer" />
        

    </footer>
    <!-- End Footer -->

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="@Common.SiteCDNBaseURL/frontassets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="@Common.SiteCDNBaseURL/frontassets/vendor/aos/aos.js"></script>
    <script src="@Common.SiteCDNBaseURL/frontassets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="@Common.SiteCDNBaseURL/frontassets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="@Common.SiteCDNBaseURL/frontassets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="@Common.SiteCDNBaseURL/frontassets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="@Common.SiteCDNBaseURL/frontassets/js/main.js"></script>
   
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
